.parallax {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    overflow: visible;

    .parallax-image {
        position: absolute;
        background-size: cover;
        height: 100vh;
        min-height: auto;
        background-position: center;

        &.fixed {
            position: fixed !important;
        }

        .parallax-overlay {
            background-color: white;
            height: 0px;
            bottom: 0;
            transition: all .01s ease;
            transition-delay: -1s;
        }
    }

    &+:not(.parallax) {
        z-index: 1;
        position: relative;
    }
}
